@model IEnumerable<Scolarite.Domain.entities.EspUp>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designantion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeDept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designantion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeDept)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Up">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Up">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Up">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
