@model Scolarite.Domain.entities.Classe

@{
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="card-header">
            <center>   <h4>Details de la classe  @Html.DisplayFor(model => model.CodeCl) </h4></center>
        </div>
    </section>
    <style>

        p {
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 3px;
        }
    </style>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="Create" class="nav-link">Ajouter une classe</a>
                        @*<a class="nav-link" href="#">Link</a>*@
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="List" class="nav-link">liste des classes</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="Details" class="nav-link active">details de la classe</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="Edit" class="nav-link disabled">Modifier la classe</a>
                    </li>
                    @*<li class="nav-item">
                            <a asp-area="" asp-controller="Classe" asp-action="Delete" class="nav-link disabled">supprimer la classe</a>
                        </li>*@
                </ul>




                <hr />

                <div class="modal-body">

                    <div class="row">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-white mb-5">
                                        <div class="card-heading clearfix border-bottom mb-4">

                                        </div>
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li class="position-relative booking">

                                                    <div class="media-body">
                                                        <h5 class="mb-4"> <span class="badge badge-success ml-3">Details @Html.DisplayFor(model => model.CodeCl)</span></h5>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">LIBELLE:</span>
                                                            <span class="bg-light-green">    @Html.DisplayFor(model => model.LibelleCl)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">DESCRIPTION:</span>
                                                            <span class="bg-light-green"> @Html.DisplayFor(model => model.DescriptionCl)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">DATE CREATION:</span>
                                                            <span class="bg-light-green">     @Html.DisplayFor(model => model.DateCr)</span>
                                                        </div>

                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">DATE DER MODIFICATION:</span>
                                                            <span class="bg-light-green">    @Html.DisplayFor(model => model.DateDernModif)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">SALLE PRINCIPALE:</span>
                                                            <span class="bg-light-green">  @Html.DisplayFor(model => model.SallePrincipale)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">SALLE SECONDAIRE:</span>
                                                            <span class="bg-light-green">  @Html.DisplayFor(model => model.SelleSecondaire1)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">SALLE SECONDAIRE2:</span>
                                                            <span class="bg-light-green">   @Html.DisplayFor(model => model.SalleSecondaire2)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">NIVEAU ACCEES:</span>
                                                            <span class="bg-light-green">     @Html.DisplayFor(model => model.NiveauAccees)</span>
                                                        </div>

                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">FILIERE:</span>
                                                            <span class="bg-light-green">  @Html.DisplayFor(model => model.Filiere)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">ANNEE SCOLAIRE:</span>
                                                            <span class="bg-light-green">  @Html.DisplayFor(model => model.AnneeScolaire)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">LIB FILIERE:</span>
                                                            <span class="bg-light-green"> @Html.DisplayFor(model => model.LibFiliere)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">CODE SPECIALITE:</span>
                                                            <span class="bg-light-green"> @Html.DisplayFor(model => model.CodeSpecialite)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">LIB SPECIALITE:</span>
                                                            <span class="bg-light-green">   @Html.DisplayFor(model => model.LibSpecialite)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">CATEGORIE:</span>
                                                            <span class="bg-light-green">   @Html.DisplayFor(model => model.Categorie)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">NOUVELLE FILIERE:</span>
                                                            <span class="bg-light-green">    @Html.DisplayFor(model => model.FiliereNew)</span>
                                                        </div>

                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">SITE ESP:</span>
                                                            <span class="bg-light-green"> @Html.DisplayFor(model => model.SiteEsp)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">CODE DEPARTEMENT:</span>
                                                            <span class="bg-light-green">  @Html.DisplayFor(model => model.CodeDept)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">CODE OPTION:</span>
                                                            <span class="bg-light-green">   @Html.DisplayFor(model => model.CodeOption)</span>
                                                        </div>

                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">DATE AFFECTATION:</span>
                                                            <span class="bg-light-green">   @Html.DisplayFor(model => model.DateAffectMc)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">MAIL:</span>
                                                            <span class="bg-light-green">    @Html.DisplayFor(model => model.Mail)</span>
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">POLE:</span>
                                                            <span class="bg-light-green">    @Html.DisplayFor(model => model.Pole)</span>
                                                        </div>
                                                    </div>


                                                </li>
                                            </ul>


























                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>     