@model ScolariteWeb.ViewModels.ClasseViewModel
@{




}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="card-header">
            <center><h3 class="card-title">LA LISTE DES CLASSES </h3></center>
        </div>
    </section>

    <!-- Main content -->


    <div class="card">
        <div class="card-body">

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a asp-area="" asp-controller="Classe" asp-action="Create" class="nav-link">Ajouter une classe</a>
                    @*<a class="nav-link" href="#">Link</a>*@
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Classe" asp-action="List" class="nav-link active">liste des classes</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Classe" asp-action="Details" class="nav-link disabled">details de la classe</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Classe" asp-action="Edit" class="nav-link disabled">Modifier la classe</a>
                </li>
              
            </ul>

            <!-- /.card-header -->
            @*<div class="card-body">*@
            @*<style>
                    .table_wrapper {
                        width: 1500px;
                        overflow-x: auto;
                    }
                </style>*@
        </div>
        
    </div>
  @* table Classe *@
    <table id="example" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    CODE
                </th>
                <th>
                    LIBELLE
                </th>
                <th>
                    DESCRIPTION
                </th>
                @*<th>
                        DateCr
                    </th>
                    <th>
                        DateDernModif
                    </th>
                    <th>
                        SallePrincipale
                    </th>
                    <th>
                        SalleSecondaire1
                    </th>
                    <th>
                        SalleSecondaire2
                    </th>
                    <th>
                        NiveauAccees
                    </th>
                    <th>
                        Filiere
                    </th>*@
                <th>
                    ANNEE SCOLAIRE
                </th>
                @*<th>
                            LibFiliere
                        </th>
                        <th>
                            CodeSpecialite
                        </th>
                        <th>
                            LibSpecialite
                        </th>
                        <th>
                            Categorie
                        </th>
                        <th>
                            FiliereNew
                        </th>
                        <th>
                            SiteEsp
                        </th>
                        <th></th>
                    </tr>*@
        </thead>



        <tbody>
            @foreach (var item in Model.Classes)
            {
                var tm = "#myModal" + item.CodeCl;
                var mid = "myModal" + item.CodeCl;
                <tr>
                    <td>
                        <span class="badge badge-pill badge-danger">@item.CodeCl</span>

                    </td>
                    <td>
                        @item.LibelleCl
                    </td>
                    <td>
                        @item.DescriptionCl
                    </td>
                    @*<td>
                            @item.DateCr
                        </td>
                        <td>
                            @item.DateDernModif
                        </td>
                        <td>
                            @item.SallePrincipale
                        </td>
                        <td>
                            @item.SelleSecondaire1
                        </td>
                        <td>
                            @item.SalleSecondaire2
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NiveauAccees)
                        </td>
                        <td>
                            @item.Filiere
                        </td>*@
                    <td>
                        @item.AnneeScolaire
                    </td>
                    @*<td>
                            @item.LibFiliere
                        </td>
                        <td>
                            @item.CodeSpecialite
                        </td>
                        <td>
                            @item.LibSpecialite
                        </td>
                        <td>
                            @item.Categorie
                        </td>
                        <td>
                            @item.FiliereNew
                        </td>
                        <td>
                            @item.SiteEsp
                        </td>*@
                    <td>
                        @* modal supprimer *@

                        @using (Html.BeginForm("Delete", "Classe", new { id = item.CodeCl }))
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@item.CodeCl" />
                            <button type="button" class="btn btn-outline-danger fas fa-trash-alt" data-toggle="modal" data-target="@tm">Supprimer</button>
                            <div class="modal" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <center> <h4 class="modal-title">SUPPRIMER CLASSE</h4></center>
                                        </div>
                                        <div class="modal-body">
                                            <p>êtes-vous sûr de vouloir supprimer @item.LibelleCl?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">OUI</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">ANNULER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* modal supprimer *@
                    </td>

                    <td>
                        @*<button type="submit" class="btn btn-block btn-danger btn-sm" value="delete"> SUPPRIMER </button>*@
                        @*<input type="button" class="btn btn-block btn-danger btn-sm" action="Delete">DELETE></input>*@
                        @*@Html.ActionLink("SUPPRIMER", "Delete", new { id = item.CodeCl })*@

                        @*<button class="btn btn-outline-light fas fa-trash-alt">
                                @Html.ActionLink("SUPPRIMER", "Delete", new { id = item.CodeCl })

                            </button>*@
                        <button class="btn btn-outline-light fas fa-eye">@Html.ActionLink("DETAILS", "Details", new { id = item.CodeCl })</button>
                        <button class="btn btn-outline-light fas fa-edit">@Html.ActionLink("MODIFIER", "Edit", new { id = item.CodeCl })</button>
                        @*@Html.ActionLink("I", "Delete", new { id = item.CodeCl })
                            @Html.ActionLink("Delete", "Delete", new { id = item.CodeCl })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*</div>*@

    @*</div>*@



</div>
