@model Scolarite.Domain.entities.EspEnseignant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EspEnseignant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CnssEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CnssEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeGradeActuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeGradeActuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeGradeEntree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeGradeEntree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModifyJwtPwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModifyJwtPwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatCivilEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatCivilEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibGradeActuelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibGradeActuelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibGradeEntree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibGradeEntree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Niveau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PwdEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PwdEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PwdInit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PwdInit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PwdJwtEnseignant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PwdJwtEnseignant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexeEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexeEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbHeureEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbHeureEns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeEns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeEns)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEns" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
