@model ScolariteWeb.ViewModels.EnsViewModel
@{
   
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <center><h4>LA LISTE DES ENSEIGNANTS</h4></center>
        @* button ajouter *@







        @* modal ajouter  *@
        <div id="modalEns" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center> <h4 class="modal-title">AJOUTER ENSEIGNANT</h4></center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <form asp-action="Create" asp-controller="Ens">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class="form-group">
                                <label asp-for="Enseignant.IdEns" class="control-label">CODE:</label>
                                <input asp-for="Enseignant.IdEns" class="form-control" />
                                <span asp-validation-for="Enseignant.IdEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.NomEns" class="control-label">NOM:</label>
                                <input asp-for="Enseignant.NomEns" class="form-control" />
                                <span asp-validation-for="Enseignant.NomEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.PrenomEns" class="control-label">PRENOM:</label>
                                <input asp-for="Enseignant.PrenomEns" class="form-control" />
                                <span asp-validation-for="Enseignant.PrenomEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.Cin" class="control-label">CIN:</label>
                                <input asp-for="Enseignant.Cin" class="form-control" />
                                <span asp-validation-for="Enseignant.Cin" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.CnssEns" class="control-label">CNSS ENS:</label>
                                <input asp-for="Enseignant.CnssEns" class="form-control" />
                                <span asp-validation-for="Enseignant.CnssEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.CodeGradeActuel" class="control-label">CODE GRADE ACTUEL:</label>
                                <input asp-for="Enseignant.CodeGradeActuel" class="form-control" />
                                <span asp-validation-for="Enseignant.CodeGradeActuel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.CodeGradeEntree" class="control-label">CODE GRADE ENTREE:</label>
                                <input asp-for="Enseignant.CodeGradeEntree" class="form-control" />
                                <span asp-validation-for="Enseignant.CodeGradeEntree" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.DateModifyJwtPwd" class="control-label">DATE MODIFICATION JWTPWD:</label>
                                <input asp-for="Enseignant.DateModifyJwtPwd" class="form-control" />
                                <span asp-validation-for="Enseignant.DateModifyJwtPwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.DateRec" class="control-label">DATE RECRUTEMENT:</label>
                                <input asp-for="Enseignant.DateRec" class="form-control" />
                                <span asp-validation-for="Enseignant.DateRec" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.Etat" class="control-label">ETAT:</label>
                                <input asp-for="Enseignant.Etat" class="form-control" />
                                <span asp-validation-for="Enseignant.Etat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.EtatCivilEns" class="control-label">ETAT CIVIL ENS:</label>
                                <input asp-for="Enseignant.EtatCivilEns" class="form-control" />
                                <span asp-validation-for="Enseignant.EtatCivilEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.LibGradeActuelle" class="control-label">LIB GRADE ACTUELLE:</label>
                                <input asp-for="Enseignant.LibGradeActuelle" class="form-control" />
                                <span asp-validation-for="Enseignant.LibGradeActuelle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.LibGradeEntree" class="control-label">LIB GRADE ENTREE:</label>
                                <input asp-for="Enseignant.LibGradeEntree" class="form-control" />
                                <span asp-validation-for="Enseignant.LibGradeEntree" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.MailEns" class="control-label">MAIL ENS:</label>
                                <input asp-for="Enseignant.MailEns" class="form-control" />
                                <span asp-validation-for="Enseignant.MailEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.Niveau" class="control-label">NIVEAU:</label>
                                <input asp-for="Enseignant.Niveau" class="form-control" />
                                <span asp-validation-for="Enseignant.Niveau" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Enseignant.PwdEns" class="control-label">PWD:</label>
                                <input asp-for="Enseignant.PwdEns" class="form-control" />
                                <span asp-validation-for="Enseignant.PwdEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.PwdInit" class="control-label">PWD INIT:</label>
                                <input asp-for="Enseignant.PwdInit" class="form-control" />
                                <span asp-validation-for="Enseignant.PwdInit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.PwdJwtEnseignant" class="control-label">PWD-JWT:</label>
                                <input asp-for="Enseignant.PwdJwtEnseignant" class="form-control" />
                                <span asp-validation-for="Enseignant.PwdJwtEnseignant" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.SexeEns" class="control-label">SEXE:</label>
                                <input asp-for="Enseignant.SexeEns" class="form-control" />
                                <span asp-validation-for="Enseignant.SexeEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.Tel" class="control-label">TEL:</label>
                                <input asp-for="Enseignant.Tel" class="form-control" />
                                <span asp-validation-for="Enseignant.Tel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.TypeEns" class="control-label">TYPE:</label>
                                <input asp-for="Enseignant.TypeEns" class="form-control" />
                                <span asp-validation-for="Enseignant.TypeEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.NbHeureEns" class="control-label">NB HEURES:</label>
                                <input asp-for="Enseignant.NbHeureEns" class="form-control" />
                                <span asp-validation-for="Enseignant.NbHeureEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enseignant.ChargeEns" class="control-label">CHARGE:</label>
                                <input asp-for="Enseignant.ChargeEns" class="form-control" />
                                <span asp-validation-for="Enseignant.ChargeEns" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Enregistrer" class="btn btn-success" />
                            </div>
                        </form>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Fermer</button>

                        </div>



                    </div>

                </div>
            </div>
        </div>















        <br />
        <br />
        <div>



            <button type="button" class="btn btn-info fas fa-plus-square" data-toggle="modal" data-target="#modalEns">

                Ajouter 
            </button>


        </div>
        <br />
        <br />
        <br />


        @* table Enseignant *@
        <table id="example1" class="table table-bordered table-striped" align="center">

            <thead>
                <tr>
                    <th>
                        CODE

                    </th>
                    <th>
                        CIN

                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Enseignant.CnssEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.CodeGradeActuel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.CodeGradeEntree)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.DateModifyJwtPwd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.DateRec)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.Etat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.EtatCivilEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.LibGradeActuelle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.LibGradeEntree)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.MailEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.Niveau)
                    </th>*@
                    <th>
                        NOM

                    </th>
                    <th>
                        PRENOM

                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Enseignant.PwdEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.PwdInit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.PwdJwtEnseignant)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.SexeEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.Tel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.TypeEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.NbHeureEns)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignant.ChargeEns)
                    </th>*@
                    <th>ACTIONS</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Enseignants)
                {
                    var tm = "#myModal" + item.IdEns;
                    var mid = "myModal" + item.IdEns;
                    var ed= "#editModal" + item.IdEns;
                    var edi = "editModal" + item.IdEns;
                    var de ="#detailModal" + item.IdEns;
                    var detail= "detailModal" + item.IdEns;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cin)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CnssEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodeGradeActuel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodeGradeEntree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateModifyJwtPwd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRec)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Etat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EtatCivilEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LibGradeActuelle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LibGradeEntree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MailEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Niveau)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.NomEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrenomEns)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.PwdEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PwdInit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PwdJwtEnseignant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SexeEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbHeureEns)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChargeEns)
                        </td>*@
                    <td>

                        @* modal supprimer *@

                        @using (Html.BeginForm("Delete", "Ens", new { id = item.IdEns }))
                        {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@item.IdEns" />
                        <button type="button" class="btn btn-outline-danger fas fa-trash-alt" data-toggle="modal" data-target="@tm">Supprimer</button> <button type="button" class="btn btn-outline-secondary fas fa-edit " data-toggle="modal" data-target="@ed">Modifier</button> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-toggle="modal" data-target="@de">Details</button>
                        <div class="modal" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <center> <h4 class="modal-title">SUPPRIMER ENSEIGNANT</h4></center>
                                    </div>
                                    <div class="modal-body">
                                        <p>êtes-vous sûr de vouloir supprimer @item.NomEns?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">OUI</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">ANNULER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        @* modal supprimer *@


                        @* modal Modifier *@



                        <form method="post" asp-action="Edit" asp-route-id="@item.IdEns">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Enseignant.IdEns" />

                            <div class="modal" id="@edi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" style="width:90%" role="document">
                                    <div class="modal-content modal-lg">
                                        <div class="modal-header">
                                            <center> <h4 class="modal-title">Modifier l'enseignant @item.NomEns</h4></center>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label asp-for="Enseignant.Cin" class="control-label">CIN:</label>
                                                <input asp-for="Enseignant.Cin" class="form-control" />
                                                <span asp-validation-for="Enseignant.Cin" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.CnssEns" class="control-label">CNSS ENS:</label>
                                                <input asp-for="Enseignant.CnssEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.CnssEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.CodeGradeActuel" class="control-label">CODE GRADE ACTUEL:</label>
                                                <input asp-for="Enseignant.CodeGradeActuel" class="form-control" />
                                                <span asp-validation-for="Enseignant.CodeGradeActuel" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.CodeGradeEntree" class="control-label">CODE GRADE ENTREE:</label>
                                                <input asp-for="Enseignant.CodeGradeEntree" class="form-control" />
                                                <span asp-validation-for="Enseignant.CodeGradeEntree" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.DateModifyJwtPwd" class="control-label">DATE MODIFICATION JWTPWD:</label>
                                                <input asp-for="Enseignant.DateModifyJwtPwd" class="form-control" />
                                                <span asp-validation-for="Enseignant.DateModifyJwtPwd" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.DateRec" class="control-label">DATE RECRUTEMENT:</label>
                                                <input asp-for="Enseignant.DateRec" class="form-control" />
                                                <span asp-validation-for="Enseignant.DateRec" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.Etat" class="control-label">ETAT:</label>
                                                <input asp-for="Enseignant.Etat" class="form-control" />
                                                <span asp-validation-for="Enseignant.Etat" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.EtatCivilEns" class="control-label">ETAT CIVIL ENS:</label>
                                                <input asp-for="Enseignant.EtatCivilEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.EtatCivilEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.LibGradeActuelle" class="control-label">LIB GRADE ACTUELLE:</label>
                                                <input asp-for="Enseignant.LibGradeActuelle" class="form-control" />
                                                <span asp-validation-for="Enseignant.LibGradeActuelle" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.LibGradeEntree" class="control-label">LIB GRADE ENTREE:</label>
                                                <input asp-for="Enseignant.LibGradeEntree" class="form-control" />
                                                <span asp-validation-for="Enseignant.LibGradeEntree" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.MailEns" class="control-label">MAIL ENS:</label>
                                                <input asp-for="Enseignant.MailEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.MailEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.Niveau" class="control-label">NIVEAU:</label>
                                                <input asp-for="Enseignant.Niveau" class="form-control" />
                                                <span asp-validation-for="Enseignant.Niveau" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@item.NomEns" class="control-label">NOM:</label>
                                                <input disabled asp-for="@item.NomEns"  class="form-control" />
                                                <input asp-for="Enseignant.NomEns" class="form-control" />

                                                <span asp-validation-for="Enseignant.NomEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.PrenomEns" class="control-label">PRENOM:</label>
                                                <input asp-for="Enseignant.PrenomEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.PrenomEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.PwdEns" class="control-label">PWD:</label>
                                                <input asp-for="Enseignant.PwdEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.PwdEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.PwdInit" class="control-label">PWD INIT:</label>
                                                <input asp-for="Enseignant.PwdInit" class="form-control" />
                                                <span asp-validation-for="Enseignant.PwdInit" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.PwdJwtEnseignant" class="control-label">PWD-JWT:</label>
                                                <input asp-for="Enseignant.PwdJwtEnseignant" class="form-control" />
                                                <span asp-validation-for="Enseignant.PwdJwtEnseignant" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.SexeEns" class="control-label">SEXE:</label>
                                                <input asp-for="Enseignant.SexeEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.SexeEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.Tel" class="control-label">TEL:</label>
                                                <input asp-for="Enseignant.Tel" class="form-control" />
                                                <span asp-validation-for="Enseignant.Tel" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.TypeEns" class="control-label">TYPE:</label>
                                                <input asp-for="Enseignant.TypeEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.TypeEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.NbHeureEns" class="control-label">NB HEURES:</label>
                                                <input asp-for="Enseignant.NbHeureEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.NbHeureEns" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Enseignant.ChargeEns" class="control-label">CHARGE:</label>
                                                <input asp-for="Enseignant.ChargeEns" class="form-control" />
                                                <span asp-validation-for="Enseignant.ChargeEns" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Mofifier</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                        @* modal Modifier *@


                        @* modal Details *@

                        <form method="post" asp-action="Details" asp-route-id="@item.IdEns">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@item.IdEns" />

                            <div class="modal" id="@detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div  class="modal-dialog modal-lg" style="width:100%" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <center> <h4 class="modal-title">Détails de l'enseignant @item.NomEns</h4></center>
                                        </div>
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">  CIN:</span>
                                                            <span class="info-box text-center text-muted mb-0"> @Html.DisplayFor(modelItem => item.Cin))</span>
                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                CNSS-ENS:
                                                            </span>
                                                            <span class="info-box text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.CnssEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                CODE GRADE ACTUEL
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.CodeGradeActuel)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                CODE GRADE ENTREE:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.CodeGradeEntree)

                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                DATE-MODIF-JWTPWT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.DateModifyJwtPwd)

                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                DATE RECRUTEMENT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.DateRec)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                ETAT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.Etat)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                ETAT-CIVIL:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.EtatCivilEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                LIB-GRADE ACTUELLE:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.LibGradeActuelle)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                LIB-GRADE ENTREE:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.LibGradeEntree)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                MAIL ENSEIGNANT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">

                                                                @Html.DisplayFor(modelItem => item.MailEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                NIVEAU:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.Niveau)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                NOM ENSEIGNANT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">

                                                                @Html.DisplayFor(modelItem => item.NomEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                PRENOM:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">

                                                                @Html.DisplayFor(modelItem => item.PrenomEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">

                                                                PWD ENS:

                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">

                                                                @Html.DisplayFor(modelItem => item.PwdEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">

                                                                PWD-INIT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.PwdInit)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">


                                                                PWD-JWT ENSEIGNANT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.PwdJwtEnseignant)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                SEXE ENSEIGNANT:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.SexeEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                TEL:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.Tel)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                TYPE ENS:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.TypeEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                NB HEURES:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.NbHeureEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                CHARGE ENS:
                                                            </span>
                                                            <span class="info-box-text text-center text-muted mb-0">
                                                                @Html.DisplayFor(modelItem => item.ChargeEns)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                        </form>


                        @* modal Details *@











                    </td>
                    </tr>
                }
            </tbody>
        </table>

    </section>






</div>

















    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script></script>
<script>
    (function () {
        $("#delete").click(function (e) {
            e.preventDefault();
            var id = $(this).closest('tr').find('#id').text();
            console.log(id);
        })
    });
</script>
        <script>
            var ConfirmDelete = function (EnsId) {

                $("#hiddenEnsId").val(EnsId);
                console.log(EnsId);
                $("#confirm-delete").modal('show');
               
            }
        </script>
        <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
        </script>
    }
    <script>
        function deleteUser(id) {

            $("input[name='user_id_modal']").val(id);
            console.log("Input value set to: " + $("input[name='user_id_modal']").val());

        }

    </script>
    @*<script>
            $(function () {
                $('#supprimer').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var id = button.data("id");
                    var modal = $(this);
                    console.log(id);
                    modal.find('.modal-content input').val(id);
                });

                $("#modalDeleteButton").click(function () {
                    $("#myForm").submit();

                });

            });
        </script>*@
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>
    <script>

        $(document).on("click", ".btn btn-danger", function (e) {

            e.preventDefault();

            var _self = $(this);

            var myBookId = _self.data('id');
            $("#bookId").val(myBookId);
            console.log(myBookId);

            $(_self.attr('href')).modal('show');
        });
                        //$(document).ready(function () {
                        //    $('#button').click(function () {
                        //        var id = $(this).attr('value');
                        //        $("#ok").val(id);
                        //    });
                        //});

                       //(function () {
                       //    $('#supprimer').on('show.bs.modal', function (e) {
                       //        var id = $(this).find('td:eq(0)').text();
                       //        // var id = $(e.relatedTarget).data('id');
                       //         alert(id);
                       //         console.log(id);
                       //     });
                       // });
    </script>
    }
