@model Scolarite.Domain.entities.EspModule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EspModule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbHeures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbHeures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPanier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPanier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AEvaluer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AEvaluer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEpreuve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEpreuve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeMatiereEduserv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeMatiereEduserv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEpreuveSr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEpreuveSr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeModule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspUe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspUe.CodeUe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpNavigation.Up)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodeModule">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
