@model IEnumerable<Scolarite.Domain.entities.EspModule>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<head>
    <meta charset="utf-8" />

    <!-- DataTables add-->

    <link href="~/template/dist/Table.min.css" rel="stylesheet" />
    <link href="~/template/dist/css/dataTable.css" rel="stylesheet" />
    <title>List</title>
</head>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="card-header">
            <h3 class="card-title">LA LISTE DES MODULES  </h3>
        </div>
    </section>
    <section class="content">

        <div class="card">

            <!-- /.card-header -->
            <div class="card-body">

                
                            <table id="example" class="display">
                                <thead>
                                    <tr>
                                        <th>
                                            Designation
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            NbHeures
                                        </th>
                                        <th>
                                            Etat
                                        </th>
                                        <th>
                                            Coef
                                        </th>
                                        <th>
                                            NumPanier
                                        </th>
                                        <th>
                                            AEvaluer
                                        </th>
                                        <th>
                                            TypeEpreuve
                                        </th>
                                        <th>
                                            CodeMatiereEduserv
                                        </th>
                                        <th>
                                            TypeEpreuveSr
                                        </th>
                                        <th>
                                            TypeModule
                                        </th>
                                        <th>
                                            EspUe
                                        </th>
                                        <th>
                                            UpNavigation
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                               
                                <tbody>


                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NbHeures)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Etat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Coef)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumPanier)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AEvaluer)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeEpreuve)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodeMatiereEduserv)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeEpreuveSr)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeModule)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EspUe.CodeUe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpNavigation.Up)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.CodeModule">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.CodeModule">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.CodeModule">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </section>
             
                       
                       

    </div>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    }
