@model IEnumerable<Scolarite.Domain.entities.EspModule>

@{
    ViewData["Title"] = "List";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="card-header">
            <h3 class="card-title" style="text-align:center">La liste des Modules </h3>
        </div>
    </section>

    <!-- Main content -->

    <div class="card">

        <!-- /.card-header -->
        <div class="card-body">
            <style>
                .table_wrapper {
                    display: block;
                    width: 1000px;
                    /* overflow-x: auto;*/
                    vertical-align: middle;
                }

                .table-striped th {
                    vertical-align: middle;
                }

                .table-striped td {
                    vertical-align: top;
                }

                #parent {
                    width: 1000px;
                }

                #child-left {
                    float: left;
                    width: 200px;
                }

                #child-right {
                    float: right;
                    width: 800px;
                }
            </style>

            <div class="box" id="parent">
                <div class="table_wrapper">
                    <div class="box-body" id="child-right">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodeModule)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Designation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NbHeures)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Etat)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Up)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Coef)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumPanier)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AEvaluer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TypeEpreuve)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodeMatiereEduserv)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TypeEpreuveSr)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TypeModule)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodeUe)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AnneeDeb)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodeModule)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Designation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NbHeures)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Etat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Up)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Coef)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumPanier)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AEvaluer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypeEpreuve)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodeMatiereEduserv)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypeEpreuveSr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypeModule)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodeUe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnneeDeb)
                                        </td>
                                        <td>
                                            <button class="btn btn-light">@Html.ActionLink("SUPPRIMER", "Delete", new { id = item.CodeModule })</button>
                                            <button class="btn btn-light">@Html.ActionLink("DETAILS", "Delete", new { id = item.CodeModule })</button>
                                            <button class="btn btn-light">@Html.ActionLink("MODIFIER", "Edit", new { id = item.CodeModule })</button>
                                           
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="child-left"></div>


                </div>
            </div>

        </div>


                <!-- /.content -->
            </div>
        </div>

